.grid-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    cursor: pointer;
}

#cell-1, #cell-4, #cell-7 {
    border-right: 2px solid black;
}

#cell-2, #cell-5, #cell-8 {
    border-right: 2px solid black;
}

#cell-1, #cell-2, #cell-3 {
    border-bottom: 2px solid black;
}

#cell-7, #cell-8, #cell-9 {
    border-top: 2px solid black;
}

.xCell {
    background-image: url("./images/x.svg");
}

.circleCell {
    background-image: url("./images/circle.svg");
}

.xCell, .circleCell {
    filter: drop-shadow(0px 5px 3px rgb(0 0 0 / 0.4));
    background-repeat: no-repeat;
    background-position: center;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 320px;
    width: 100%;
}

.button {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(79, 154, 253);
    border-radius: 10px;
    height: 50px;
    width: 300px;
}

.button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(143, 189, 250);
}

.message-box {
    margin-right: 250px;
    width: 400px;
    border: 2px solid black;
}